<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p>Edad {{ person.age }}</p>
<button (click)="increaseAge()">Age ++</button>
<p>Nombre {{ person.name }}</p>
<input type="text" [(ngModel)]="person.name" />
<div class="box" (scroll)="onScroll($event)">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique,
    voluptatibus minima. Deserunt cum ex aliquid quaerat doloremque totam autem
    excepturi dolorem? Reprehenderit eius illo sequi consequuntur quaerat eaque
    ratione similique.
  </p>
</div>
<p>Nombre {{ person.name }}</p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />
<hr />
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" />
<hr />
<h1>Hola mundo</h1>
<h2>{{ "Hola Mundo".repeat(5) }}</h2>
<p>3 + 3 = {{ 3 + 3 }}</p>
<h3>Hola, soy {{ name }} y tengo {{ age }}</h3>
<img src="{{ img }}" alt="image" />

<h1>Reto 01: *ngFor</h1>
<h3>Cumplido</h3>
<label for="">Agregar art&iacute;culo</label>
<input type="text" required [(ngModel)]="newItem" /><br />
<label for="">Agregar precio</label>
<input type="text" required [(ngModel)]="newPrice" /><br />
<button (click)="addItem()">Add item</button>
<ul>
  <li *ngIf="items.length === 0">
    No hay artículos en existencia, puedes agregar m&aacute;s
  </li>
  <li *ngFor="let item of items; index as i">
    {{ i + 1 }} - {{ item[0] }} ${{ item[1] }}.00
    <button (click)="deleteItem(i)">Delete</button>
  </li>
</ul>
